# Build
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
dist/
build/

# IDEs
.idea/
*.iml
.vscode/

# Test
.coverage

# tessara generate / tessara web generate default output dir
/output/
apps/*/output/